div {
  width: 100px;
  height: 100px;
  background: blueviolet;
  position: relative;
  animation: moveRight 1s infinite;
}

@keyframes moveRight {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}