.login-app {
  display: grid;
  grid-template-areas: 
  'username usernameInput'
  'password passwordInput';
  border: 1em solid aliceblue;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: 1fr 4fr;
}
.login-app * {
  padding: 5px;
}

.username {
  grid-area: username;
}
.usernameInput {
  grid-area: usernameInput;
}
.password {
  grid-area: password;
}
.passwordInput {
  grid-area: passwordInput;
}