.app {
  display: grid;
  grid-template-areas:
   'redBlock redBlock greenBlock'
   'redBlock blueBlock greenBlock';
  height: 100vh;
  width: 100vw;
}

#red {
  grid-area: redBlock;
  background: red;
}

#blue {
  grid-area: blueBlock;
  background: blue;
}

#green {
  grid-area: greenBlock;
  background: green;
}
