<html>

<head>
  <title>Title</title>
  <link href="./style.css" rel="stylesheet" />
</head>

<body>
<div class="flex">
  <div class="row1">
    <div class="item1">
      ITEM 1
    </div>
    <div class="item2">
      ITEM 2
    </div>
  </div>
  <div class="row2">
    <div class="item3">
      ITEM 3
    </div>
    <div class="item4">
      ITEM 4
    </div>
      <div class="item5">
        ITEM 5
      </div>
      <div class="item6">
        ITEM 6
      </div>
  </div>
</div>
</body>

</html>
